<plugin name='simple-sftp' version='0.1' grailsVersion='2.4 &gt; *'>
  <author>perry dev</author>
  <authorEmail>perrydevx@gmail.com</authorEmail>
  <title>Simple Sftp Plugin</title>
  <description>        Simple way to connect and perform basic file actions to an SFTP server. Allows application to upload, download, delete, rename, create directory to an SFTP Server with one method call.
    </description>
  <documentation>https://github.com/perrydevx/simple-sftp</documentation>
  <type>SimpleSftpGrailsPlugin</type>
  <resources>
    <resource>com.simplesftp.SimpleSftpService</resource>
  </resources>
</plugin>